APP_HOST=0.0.0.0
APP_PORT=8000
APP_ENV=dev
APP_CORS_ORIGINS=http://127.0.0.1:3000,http://localhost:3000

# Multilogin API
MLX_BASE_URL=https://api.multilogin.com

# Multilogin launcher
MLX_LAUNCHER_BASE_URL=https://launcher.mlx.yt:45001/api/v2

MLX_TIMEOUT_S=30
MLX_TOKEN=
MLX_REFRESH_TOKEN=
MLX_EMAIL=
MLX_WORKSPACE_ID=
MLX_FOLDER_ID=e8f06756-6bca-45d5-a84e-422ddb73a161

# profile lifecycle
MLX_PROFILE_START_PATH=/profile/f/{folder_id}/p/{profile_id}/start
MLX_PROFILE_STOP_PATH=/profile/stop/p/{profile_id}

# websocket field returned by profile start endpoint
MLX_WS_FIELD=wsUrl

MLX_WEBHOOK_SECRET=

AIRPROXY_HOST=s1.airproxy.io
AIRPROXY_PORT=10306
AIRPROXY_USERNAME=interview_scouter
AIRPROXY_PASSWORD=
AIRPROXY_CHANGE_IP_URL=
AIRPROXY_MIN_DEBOUNCE_S=5
