APP_HOST=0.0.0.0
APP_PORT=8000
APP_ENV=dev

MLX_BASE_URL=https://api.multilogin.com
MLX_LAUNCHER_BASE_URL=https://launcher.mlx.yt:45001/api/v1
MLX_TIMEOUT_S=30
MLX_TOKEN=
MLX_WEBHOOK_SECRET=

AIRPROXY_HOST=s1.airproxy.io
AIRPROXY_PORT=10306
AIRPROXY_USERNAME=interview_scouter
AIRPROXY_PASSWORD=
